#DeepL
keras==3.5.0
matplotlib==3.9.2
scikit-learn==1.5.1
scipy==1.14.1
seaborn==0.13.2
skfeature-chappers==1.1.0

#AdDA
ydata-profiling==4.10.0
sweetviz==2.3.1
openpyxl==3.1.5
numpy==1.26.4
pandas==2.2.2